.venv
.env
*.pyc
*.pyo
*.pyd
Loyverse
backend/tests/unitTest_dao.py
backend/dao/uom_dao.py
backend/dao/loyverse
toadd
.vscode
database/query.sql
database/postgres.session.sql
database/settings.json
database/db_mngmt_schema.sql


