.venv
.vscode
.env
*.pyc
*.pyo
*.pyd

backend/tests/unitTest_dao.py
backend/dao/uom_dao.py
backend/dao/loyverse
database/loyverse
database/query.sql
database/postgres.session.sql
database/settings.json
database/db_mngmt_schema.sql


