.venv
*.pyc
*.pyo
*.pyd
Loyverse
backend/tests/unitTest_dao.py
backend/dao/uom_dao.py
backend/dao/loyverse
backend/controller/emp_controller.py
backend/dao/emp_dao.py
toadd
.vscode
database/table_orders.sql
database/table_stockroom.sql


