
/* || Root Variables */
:root {
  --font-title: clamp(1.5rem, 3vw, 3rem);
  --space-xs: clamp(.3rem, .75vw, 1rem);
  --space-sm: clamp(.5rem, 1vw, 1rem);
  --space-md: clamp(1rem, 2vw, 2rem);
}

/* || Reset and Base */

/* || Layout Utilities */
body {
    background-image: url("/frontend/public/images/login_bg.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: 'Poppins', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-fluid {
    margin-top: 3vh;
    width: 85vw;
    height: 92vh;
    background-color: rgb(52, 86, 240);
    box-shadow: rgb(0, 0, 0.2);
    display: flex;
    justify-content: center;
}

.container-homepage {
    margin-top: 7vh;
    height: 70vh; 
    width: 65vw;
    background-color: rgb(52, 86, 240);
}

.container-products {
    display: grid;
    grid-template-rows: 1fr 9fr;
}

.container-orders{
    display: grid;
    grid-template-rows: .5fr 9.5fr;
}

.container-orders-body {
    width: 84vw;
    height: 82vh;
    background-color: rgb(52, 86, 240);
}

.table-responsive {
    overflow: auto;
    max-width: 95%;
    margin-left: 1rem;
}

.navbar-home{
    padding: 2px;
    margin: 10px 10px;
    height: 67vh; 
    width: 250px;    
}

.homepage-announcement {
    padding: 10px;
    margin: 10px 10px;
    margin-left: 1px;
    height: 67vh; 
    width: 750px;
    background-color: aliceblue;
}

.scroll-y {
    overflow-y: auto;
}

/* || Components */
.line {
    margin-left: 5%;
    margin-right: 5%;
    width: 90%;
    height: 2px;
    background-color: #333;
}

input:invalid {
    border-color: red;
}

input:valid {
    border-color: green;
}
/* || Page Styles */
/* || Utilities */