
/* || Root Variables */
:root {
  --font-title: clamp(1.5rem, 3vw, 3rem);
  --space-xs: clamp(.3rem, .75vw, 1rem);
  --space-sm: clamp(.5rem, 1vw, 1rem);
  --space-md: clamp(1rem, 2vw, 2rem);
}

/* || Reset and Base */

/* || Layout Utilities */
.container-fluid {
    display: grid;
    grid-template-rows: 1.5fr 8.5fr;
    font-family: Arial, Helvetica, sans-serif;
    background-color: black ;
}

.orders-header {
    max-height: 15vh;
}

.orders-body {
    display: grid;
    grid-template-columns: 3.5fr 2.5fr;
    max-height: 90vh;
}

.scroll-y {
    overflow-y: auto;
}

.table-responsive {
    overflow: auto;
    max-width: 95%;
    margin-left: 1rem;
}

/* || Components */
h4 {
    font-size: var(--font-title);
    margin: var(--space-xs);
}

.line {
    margin-left: 5%;
    margin-right: 5%;
    width: 90%;
    height: 2px;
    background-color: #333;
}

input:invalid {
    border-color: red;
}

input:valid {
    border-color: green;
}
/* || Page Styles */
/* || Utilities */