
/* || Root Variables */
:root {
  --font-title: clamp(1.5rem, 3vw, 3rem);
  --space-xs: clamp(.3rem, .75vw, 1rem);
  --space-sm: clamp(.5rem, 1vw, 1rem);
  --space-md: clamp(1rem, 2vw, 2rem);
}

/* || Reset and Base */

/* || Layout Utilities */
.container-fluid {
    position: fixed;
    display: grid;
    grid-template-rows: 1fr 9fr;
    font-family: Arial, Helvetica, sans-serif;
    background-color: black ;
}

#orders-body {
    display: grid;
    grid-template-columns: 4.5fr 1.5fr;
}

.table-responsive {
    overflow: auto;
    max-width: 95%;
    margin-left: 1rem;
}

/* || Components */
h4 {
    font-size: var(--font-title);
    margin: var(--space-xs);
}
/* || Page Styles */
/* || Utilities */