background {
    font-family: Arial, Helvetica, sans-serif;
    
}

/*   Applied BS, search contents
container {} - login
container-fluid{} - index

/*   Other useful tools
Z-index - third axis

/*   Apply after 
.custom-element {
  color: color-yiq(#000); /*color orange: #fff` 
}
.custom-element {
  color: color-yiq(theme-color("dark")); // returns `color: #fff`
}
